.one{
    display:flex;
}
.box
{
    height: 100px;
    width:15%;
    background: red;
    margin-top: 5px;
    margin-bottom:3px;
    margin-right: 5px;
    margin-left:20px;
    display:inline-block;
     text-align:center;
}
.box2
{
    height: 100px;
    width:82%;
    background: blue;
    margin-top: 5px;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:5px;
    display:inline-block;
}
.box3
{
    height:250px;
    width:98%;
    background:rgb(203, 143, 41);
    margin-top:5px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:5px;

}
.box4
{
    height:100px;
    width:32%;
    margin-left:20px;
    margin-right:19px;
    margin-top:5px;
    margin-bottom:5px;
    background:green;
    display:inline-block;
}
.box5
{
height:100px;
width:31%;
margin-left:5px;
margin-right:19px;
margin-top:5px;
margin-bottom:5px;
background:rgb(91, 9, 224);
display:inline-block;
}
.box6
{
height:100px;
width:31%;
margin-left:5px;
margin-right:10px;
margin-top:5px;
margin-bottom:5px;
background:rgb(124, 107, 251);
display:inline-block;
}
.box7
{
    height:100px;
    width:48%;
    margin-left:20px;
    margin-right:15px;
    margin-bottom:5px;
    margin-top:5px;
    background:brown;
    display:inline-block;
}
.box8
{
    height:100px;
    width:48%;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top:5px;
    background:yellow;
    display:inline-block;
}
.box9
{
    height:100px;
    width:23%;
    margin-left:18px;
    margin-right:23px;
    margin-bottom:5px;
    margin-top:5px;
    background:green;
    display:inline-block;
    
}
.box10
{
    height:100px;
    width:23%;
    margin-left:5px;
    margin-right:27px;
    margin-bottom:5px;
    margin-top:5px;
    background:lightgreen;
    display:inline-block;

}
.box11
{
    height:100px;
    width:23%;
    margin-left:0px;
    margin-right:17px;
    margin-bottom:5px;
    margin-top:5px;
    background:brown;
    display:inline-block;
    
}
.box12
{
    height:100px;
    width:23%;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top:5px;
    background:blue;
    display:inline-block;

}
.box13
{
    height:20px;
    width:90%;
    margin-left:15px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top:5px;
    background:rgb(117, 58, 6);
    
}

